<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <h1 class ="heading" >Error</h1>
    <h1 style = " text-align: center;">❌ Post with ID <%= id %> does not exist.</h1>
    
    <br/>
    <a href = "http://localhost:8080/posts">Go back</a>
</body>
</html>